<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" th:href="@{/css/product.css}">
</head>
<body>
<div class="product-detail">
    <div class="product-image">
        <img th:src="${product.getThumbnail()}" th:alt="${product.getName()}">
    </div>
    <div class="product-info">
        <h1 th:text="${product.getName()}"></h1>
        <p class="description">Chi tiết sản phẩm: <span th:text="${product.getDescription()}"></span></p>
        <p class="price">Giá: <span th:text="${product.getPrice()}"></span></p>
        <p class="discount">Giảm giá: <span th:text="${product.getPriceDiscount()}"></span></p>
        <p class="rating">Đánh giá: <span th:text="${product.getRating()}"></span> ⭐</p>
        <a class="back-button" th:href="@{/products/all}">Quay lại danh sách</a>
    </div>
</div>
</body>
</html>
