<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<ul>
    <li><a th:href="@{/getAll}">Liệt kê danh sách tất cả người</a></li>
    <li><a th:href="@{/sortPeopleByFullName}">Liệt kê danh sách sắp xếp theo tên full name từ A-Z</a></li>
    <li><a th:href="@{/getSortedJobs}">Lấy danh sách tất cả nghề nghiệp đã được sắp xếp từ A-Z</a></li>
    <li><a th:href="@{/getSortedCities}">Lấy danh sách tất cả thành phố đã được sắp xếp từ A-Z</a></li>
</ul>
</body>
</html>