<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styler.css}"/>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-dark ">
        <div class="container text-white">
            <a class="navbar-brand" href="#"> <img
                    src="https://movie.techmaster.vn/assets/logo-C2IIl7EL.png"
                    alt="logo"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/}">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/phim-bo}">Phim bộ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/phim-chieu-rap}">Phim chiếu rạp</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-white"  th:href="@{/phim-le}">Phim lẻ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Quốc gia
                        </a>
                        <ul class="dropdown-menu text-white">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Thể loại
                        </a>
                        <ul class="dropdown-menu text-white">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Mua phim</a>
                    </li>
                </ul>
            </div>
            <div>
                <div>
                    <!-- Liên kết Đăng nhập khi chưa đăng nhập -->
                    <a th:if="${session.user==null}" class="nav-link ju text-white" th:href="@{/dangnhap-dangky}">Đăng nhập</a>

                    <!-- Dropdown thông tin người dùng khi đã đăng nhập -->
                    <div class="dropdown" th:if="${session.user!=null}">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${session.user.getName()}">
                            <!-- Tên người dùng sẽ được hiển thị ở đây -->
                        </button>
                        <ul class="dropdown-menu">
                            <li><a th:if= "${session.user.role.toString().equals('ADMIN')}" class="dropdown-item" href="#">Trang quan tri</a></li>
                            <li><a class="dropdown-item" href="/phim-yeu-thich">Phim yeu thich</a></li>
                            <li><a class="dropdown-item" href="#">Ho so ca nhan</a></li>
                            <li>
                                <!-- Thay đổi ID ở đây -->
                                <a id="logout-link" class="dropdown-item" href="#">Dang xuat</a>
                            </li>
                        </ul>
                    </div>            </div>
        </div>
    </nav>
</header>


<section class="py-4 ">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h4>Phim chiếu rạp</h4>
        </div>
        <div class="row py-4">
            <div class="col-2" th:each="movie : ${moviePage}">
                <a class="text-decoration-none text-dark"
                   th:href="@{/phim/{id}/{slug}(id=${movie.getId()}, slug=${movie.getSlug()})}">
                <div class="movie-item">
                    <div class="movie-poster rounded overflow-hidden position-relative">

                        <img th:src="${movie.getThumbnail()}"
                             th:alt="${movie.getName()}">
                    </div>
                    <div class="movie-info">
                        <p class="mt-3 mb-0"  th:text="${movie.getName()}"></p>
                    </div>
                </div>
                    </a>
            </div>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item " th:classappend="${currentPage==1} ? 'disabled'">
                    <a class="page-link" th:href="@{/phim-bo(page=${currentPage - 1})}">Previous</a>
                </li>
                <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                    <a class="page-link" th:href="@{/phim-bo(page=${pageNumber+1})}" th:text="${pageNumber + 1}"></a>
                </li>

                <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/phim-bo(page=${currentPage + 1})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script th:src="@{/javascrip/dangnhapdangky.js}"></script>
</body>

</html>